body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 18px;
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    color: hsl(229, 8%, 60%);
}

.header {
    max-width: 90%;
    margin: 40px auto;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    z-index: 3;
    margin-left: 20px;
}

.fill-white {
    fill: white;
}

.inner-background {
    fill: #252b46;
}
.mobile-nav-icon {
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 100%;
    font-family: inherit;
    padding: 0;
    text-decoration: none;
    border: 0;
    background: none;
    z-index: 3;
}

.mobile-nav-active {
    position: fixed;
}

.mobile-overlay {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    position: fixed;
  }

.mobile-nav {
    display: none;
    max-width: 100%;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    bottom: 0;
    top:0;
    left:0;
    z-index: 2;
    overflow-y: auto;
    padding-top: 15px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: rgba(37, 43, 70, 0.5);
}

.mobile-nav ul {
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.is-active {
    display: block;
}

.navbar {
    display: none;
}

.mobile-nav ul {
    color: white;
}

.mobile-nav li {
    text-align: center;
    border-top: 1px rgba(145, 148, 161, 0.5) solid;
    margin-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mobile-nav li:nth-of-type(3) {
    border-bottom: 1px rgba(145, 148, 161, 0.5) solid;
    padding-bottom: 20px;
}

.mobile-nav li:last-child {
    border: 3px solid white;
    border-radius: 5px;
    padding-bottom: 10px; 
    padding-top: 10px;
    margin-top: 10px;
    font-weight: 500;
}

.mobile-nav a {
    padding: 10px 80px;
    color: white;
}

.social {
    position: absolute;
    bottom: 50px;
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

.social img {
    margin-right: 30px;
}

img {
    height: auto;
    max-width: 90%;
}

.social a {
    padding: 10px 25px;
    position: relative;
}

/* Banner */
main {
    position: relative;
}

.banner-title p {
    max-width: 90%;
    margin: auto;
}

.banner-title div:first-child {
    position: relative;
    margin-bottom: 60px;
    display: block;
    width: 100vw;
}

.banner-title div::after {
    content: "";
    background-color:hsl(231, 69%, 60%);
    max-width: 75%;
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 70px 0 0 70px;
}

.banner-title p {
    margin-bottom: 45px;
}

.banner-title a {
    border-radius: 5px;
    padding: 15px 8px;
    width: 40%;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
}

.banner-title a:nth-of-type(1) {
    background-color: hsl(231, 69%, 60%);
    margin-right: 5px;
    color: white;
}

.banner-title a:nth-of-type(2) {
    color: black;
    border: 1px solid white;
    background-color: #fdf9f9;
    -webkit-box-shadow: 4px 13px 32px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 13px 32px -18px rgba(0,0,0,0.75);
    box-shadow: 4px 13px 32px -18px rgba(0,0,0,0.75);
}


/* features section */
.features {
    margin-top: 80px;
    text-align: center;
}

.features p {
    margin: auto;
    max-width: 90%;
    margin-bottom: 40px;
}

.tab-links {
    padding-right: 10%;
    list-style-type: none;
}

.tab-links li {
    border-top: grey solid 1px;
    text-align: center;
    padding: 20px 0;
    overflow-y: hidden;
}

.tab-links a {
    color: hsl(229, 8%, 60%);
    font-weight: 500;
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
}

.tab-links li:nth-of-type(3) {
    border-bottom: grey solid 1px;
}

.panel {
    display: none;
}

.active {
    display: block;
}

a.active {
    color: black;
    display: inline;
    border-bottom: solid red 2px;
    position: relative;
    top: -2px;
}


.illustration {
    position: relative;
    margin-bottom: 30px;
    display: block;
    width: 100vw;
    padding-bottom: 30px;
    overflow-y: hidden;
}

.illustration:after {
    content: "";
    background-color:hsl(231, 69%, 60%);
    max-width: 75%;
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 70px 70px 0;
}

.tab-content a {
    padding: 10px 15px;
    background-color: hsl(231, 69%, 60%);
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-header {
    padding-bottom: 15px;
}

.feature-header a {
    border-radius: 5px;
}


.tab-content section {
    margin-bottom: 30px;
    padding-bottom: 30px;
    height: auto;
}

.extensions {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;

}

/* extensions section */
.extension {
    margin-bottom: 30px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 11px 9px 45px -31px rgba(0,0,0,0.76);
    -moz-box-shadow: 11px 9px 45px -31px rgba(0,0,0,0.76);
    box-shadow: 11px 9px 45px -31px rgba(0,0,0,0.76);
}

.extensions a {
    color: white;
    background-color:  hsl(231, 69%, 60%);
    padding: 10px 30px;
    border-radius: 5px;
}

.dots {
    background-image: url("images/bg-dots.svg");
    height: 5px;
    margin: 25px 5px;
}

/* frequently asked questions section */
.faq {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 30px auto;
}

.accordion-btn {
    padding: 15px 10px;
    padding-bottom: 0;
    background-color: white;
    text-align: left;
    border:none;
    border-top: 1px solid grey;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 0.7em;
    
}

.accordion-btn:last-of-type {
    border-bottom: 1px solid grey;
}

.accordion-btn span {
    text-align: right;
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 10px;
}

.accordion-content {
    text-align: left;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
}

.icon-span {
    color: hsl(0, 94%, 66%);
}

.close-icon {
    transform: rotate(180deg);
}

.color-icon {
    stroke: currentColor;
}

.faq a {
    margin-top: 30px;
    color: white;
    background: hsl(231, 69%, 60%);
    padding: 15px 20px;
    display: inline-block;
    border-radius: 10px;
    max-width: 30%;
    margin: 30px auto;
}

/* call to action */
.action {
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 40px 10px;
    margin-top: 30px;
}

.joined {
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.action h2 {
    font-weight: 400;
    padding: 0 10px;
}

.action button {
    display: block;
    margin: auto;
}

.action input {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 85%;
    margin: auto;
}

.error {
    border-radius: 5px;
    padding-top: 2px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.error-icon {
    align-self: flex-end;
    position:relative;
    margin-right: 8%;
    margin-top: -35px;
    padding: 0;
    display: none;
}

.error-msg {
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    width: 80%;
    margin-left: 6%;
    margin-bottom: 0;
    color: white;
    font-size: 0.7em;
    display: none;
}

.action button {
    width: 88%;
    border: none;
    background-color: hsl(0, 94%, 66%);
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 20px;
}

.error-display {
    display: block;
}

.error-bg {
    background-color: hsl(0, 94%, 66%);
}

footer {
    background-color: hsl(229, 31%, 21%);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer svg {
    margin-bottom: 10px;
}

footer svg path {
    fill: white;
}

footer ul {
    padding-left: 0;
}

footer li {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
}

footer a {
    color: white;
    padding: 20px;
}

.social-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    width:100%;
}

.social-footer a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-footer svg {
    width: 100%;
}

@media screen and (min-width: 985px) {
    .mobile-nav, .mobile-nav-icon {
        display: none;
    }

    .navbar {
        display: block;
    }
    .navbar ul {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }

    .navbar li {
        margin-left: 10px;
        padding: 20px 0;
    }

    .navbar a {
        color: black;
        padding: 20px 20px;
        text-transform: uppercase;
    }

    .navbar a:hover {
        color: hsl(0, 94%, 66%);
    }

    .navbar li:last-child {
        background-color: hsl(0, 94%, 66%);
        border-radius: 5px;
    }

    .navbar li:last-child a{
        color: white;
    }

    .navbar li:last-child a:hover {
        color: hsl(0, 94%, 66%);
        background-color: white;
        border: 1px solid hsl(0, 94%, 66%);
        border-radius: 5px;
    }

    .banner-title {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
    }

    .banner-title header {
       margin-left: 5%;
    }

    .banner-title header a {
        width: 30%;
    }

    .banner-title header p {
        margin-left: 0;
    }

    .banner-title a:first-of-type:hover {
        background-color: white;
        color: hsl(231, 69%, 60%);
        border: 2px solid hsl(231, 69%, 60%);
    }

    .banner-title a:nth-of-type(2):hover{
        border: 2px solid black;
    }

    .features {
        margin-top: 20px;
    }

    .features p {
        max-width: 50%;
    }

    .tab-links a:hover {
        color: hsl(0, 94%, 66%);
    }

    .tab-links {
        display: flex;
        justify-content: center;
    }

    .tab-links li {
        border-top: none;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .tab-links li:last-child {
        border-top: none;
        border-bottom: none;
    }

    .active {
        display: flex;
    }

    .feature-header {
        text-align: left;
        margin-left: 3%;
    }

    .feature-header p {
        margin-left: 0;
        margin-right: 0;
    }

    .extensions-header {
        margin-bottom: 30px;
    }

    .extensions-header p {
        max-width: 50%;
        margin: auto;
    }

    .extensions {
        display: block;
    }

    .extension {
        display: inline-block;
       
    }

    .extension-group {
        position: relative;
        margin-bottom: 8%;
    }

    .extension a:hover {
        background: white;
        color: hsl(231, 69%, 60%);
        border: 2px solid hsl(231, 69%, 60%);
    }

    .chrome {
        position: relative;
        margin-right: 15px;
    }

    .firefox {
        position: relative;
        top: 70px;
        margin-right: 15px;
    }

    .opera {
        position: relative;
        top: 120px;
    }

    .faq {
        max-width: 50%;
    }

    .faq button:hover {
        cursor: pointer;
        color: hsl(0, 94%, 66%);
    }

    form {
        position: relative;
    }

    .error {
        display: inline-flex;
        padding-right: 0;
        width: 25%;
    }

    .action input {
        display: inline-block;
    }

    .action button {
        max-width: 10%;
        display: inline;
        margin-top: 0;
        margin-left: 10px;
        cursor: pointer;
    }

    .action button:hover {
        background: white;
        color: hsl(0, 94%, 66%);
        border: 2px solid hsl(0, 94%, 66%);
    }

    footer {
        flex-direction: row;
        justify-content: center;
    }

    footer svg {
        display: inline;
        margin: 0;
    }

    footer ul {
        display: inline-flex;
        margin: 0;
    }

    footer li {
        padding: 25px;
        margin: 0;
    }

    .footer-nav {
        display: inline-block;
    }

    footer a:hover {
        color: hsl(0, 94%, 66%);
    }

    .social-footer {
        display: inline-flex;
        max-width: 30%;
        margin-top: 15px;
    }

    .social-footer a:nth-of-type(2){
        margin-top: 5px;
    }

    .social-footer path:hover {
        fill: red;
    }
}